{% extends 'base.html' %}

{%block content %}

<form action="/pcreate/{{ product.pk }}/" method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <h1>제품수정</h1>
<br/>
  <div class="form-group">
    <label for="title">제품명: 반드시 입력하세요.</label>
    <input type="text" class="form-control" name="name" id="name" value="{{product.name}}">
  </div>

    <div class="form-group">
        {% if product.image %}
            <br/>
            <p>사진: 현재 등록된 사진이 있습니다.</p>
            <label for="image">변경할 사진선택</label>
            <input type="file" name="image" >
            <br/>
        {% else %}
            <label for="image">사진:</label>
            <input type="file" name="image" >

        {% endif %}
  </div>


  <div class="form-group">
    <label for="content">제품설명</label>
    <textarea class="form-control" name="content" id="content" rows="3">{{ product.content }}</textarea>
  </div>


  <div class="form-group">
    <label for="price">가격: 숫자를 입력하세요.</label>
    <input type="text" class="form-control" name="price" id="price" value="{{ product.price }}">
  </div>

    <div class="form-group">
    <label for="title">남은수량: 숫자를 입력하세요.</label>
    <input type="text" class="form-control" name="number" id="number" value=" {{product.number}}">
  </div>

  <div class="form-group">
        거래처:
      <select name="client">
          {% for client in clients %}

              {% if product.client == client %}
                  <option value="{{client.id}}" selected>{{ client.name }}</option>
              {% else %}
                  <option value="{{client.id}}">{{ client.name }}</option>
              {% endif %}



          {% endfor %}
      </select>
  </div>



        <div><button class="btn btn-primary" type="submit">수정</button></div>

</form>
{% endblock %}