<nav class="navbar navbar-dark bg-dark ">
    <div>
    <a href="{% url 'product-list' %}" style="float:left">
        <span class="navbar-brand mb-0 h1">
        <img style="height: 50px; width: auto" src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/p960x960/75332821_2462692640645362_6889331996112191488_o.jpg?_nc_cat=103&_nc_ohc=EsCTs0qtxSAAX92Khxd&_nc_ht=scontent-icn1-1.xx&_nc_tp=6&oh=609ebf1e47993a05b618ff63897c77be&oe=5E91A851"/>
    </span>
    </a>
        </div>

    <div>
  <a href="{% url 'create-product' %}"><span class="navbar-brand mb-0 h1">상품등록</span></a>
    <a href="{% url 'client-list' %}"><span class="navbar-brand mb-0 h1">거래처 관리</span></a>
    <a href="{% url 'create-client' %}"><span class="navbar-brand mb-0 h1">거래처 등록</span></a>
    </div>
</nav>